
<h1 style="color: blue; font-size: 100px;">RUN BUDDY</h1>

<head>
  <meta charset="UTF-8" />
  <title>RUN BUDDY</title>

  <!-- Add this to the page and see what happens! -->
  <style>
    body {
      background-color: tomato;
    }h1 {
  font-size: 100px;
}  </style>
</head>